/* *********************** General Root Styling*********************** */
/* *********************** General Root Styling*********************** */

:root {
  --sauce-color: #b8860b;
  --sauce-color-transparent: #b8870ba2;
  --h1-size: 25px;
  --default-font-family: "Stack Sans Text", sans-serif;
}

.accent-color {
  color: #b8860b !important;
}

.grey-color {
  color: #72716e !important;
}

.list-style {
  color: #72716e;
  margin-bottom: 7px;
  font-size: 16px;
  display: flex;
  gap: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.cool-icon {
  width: 30px;
  aspect-ratio: 1/1;
  border: 1px solid #b8860b;
  padding: 3px;
}

.check.show-check {
  display: flex !important;
}
.sauce {
  color: var(--sauce-color) !important ;
}

.notif.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.second-btn {
  border-color: #b8860b !important;
  color: #b8860b !important;
  border-radius: 10px !important;
}
/* *********************** Main Page Styling*********************** */
/* *********************** Main Page Styling*********************** */

.Details-Page {
  font-family: "Stack Sans Text", sans-serif;
}

.product-container {
  width: 95% !important;
}

.product-container .image-container {
  background-image: url("@/assets/images/wallpapers/transparent_wallpaper_products.png");
  border-radius: 15px;
  width: clamp(320px, 36vw, 550px) !important;
  border: 1px solid rgba(0, 0, 0, 0.116);
  height: clamp(320px, 36vw, 550px) !important;
  cursor: zoom-in;
  overflow: hidden;
}

.product-container .image-container img {
  transform-origin: var(--mouse-x) var(--mouse-y);
  transition: transform 0.2s ease-in-out;
}

.product-container .image-container img.zoom-in {
  transform: scale(2.3);
}

.product-container .img-preview {
  background-image: url("@/assets/images/wallpapers/transparent_wallpaper_products.png");
  border-radius: 10px;
  overflow: hidden;
}

.lay .overlay {
  opacity: 1;
}

.cunt {
  position: sticky;
  top: 10px;
}

.overlay {
  background-color: rgba(238, 238, 238, 0.526);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

/* ***********************Product Buttons*********************** */
/* ***********************Product Buttons*********************** */

.quantity-buttons button {
  border-width: 2px !important;
  color: black;
  transition:
    0.2s background-color ease-in-out,
    0.2s color ease-in-out;
  width: 30%;
}

.quantity-buttons button:active,
.quantity-buttons button:focus {
  background-color: var(--sauce-color) !important;
  color: white !important;
}

.quantity-buttons .form-control {
  border-width: 2px !important;
}

.quantity-buttons .form-control:active,
.quantity-buttons .form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* ***********************Product Info*********************** */
/* ***********************Product Info*********************** */

.product-features h4 {
  font-size: 17px;
  margin-bottom: 10px;
}

.product-features ul li {
  align-items: flex-end;
}

.product-features ul li strong {
  font-weight: 600 !important;
}

.share {
  gap: 10px !important;
}

.share div img {
  width: 27px;
  height: 27px;
  line-height: 1px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 50%;
}

.copy-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: none;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out;
}

.share div img:active {
  box-shadow: 0 3px 3px #000000;
}

.product-views span,
strong {
  padding-top: 3px;
}
.left-btn.general-slide-btn,
.right-btn.general-slide-btn {
  box-shadow: 0 5px 5px #72716e;
  transform: translateY(-150%);
  transition: opacity 0.2s ease-in-out;
  width: clamp(35px, 2vw, 40px);
  height: clamp(35px, 2vw, 40px);
  padding: 7px;
}

/* ***********************Media Query*********************** */
/* ***********************Media Query*********************** */
@media (hover: hover) and (pointer: fine) {
  .overlay:hover {
    opacity: 1;
  }

  .cart-item-link:hover,
  .search-results-container .item-link:hover,
  .search-results-desktop .item-link:hover {
    background-color: rgba(238, 238, 238, 0.526) !important;
  }

  .quantity-buttons button:hover {
    background-color: var(--sauce-color);
    color: white;
  }

  .add-to-wishlist-box:hover .text {
    color: var(--sauce-color) !important;
  }

  .share div img:hover {
    box-shadow: 0 3px 3px #000000;
  }

  .window-wrapper:hover .general-slide-btn {
    opacity: 1 !important;
  }

  .window-wrapper:hover .general-slide-btn.fade {
    opacity: 0.5 !important;
  }

  .copy-button:hover {
    background-color: #e3e3e3;
  }

  table tbody td:first-child div .product-version:hover {
    color: #72716e;
  }
}

@media (max-width: 992px) {
  .Buttons {
    flex-direction: column;
    gap: 5px !important;
  }

  .Buttons .quantity-buttons {
    width: clamp(20%, 25vw, 40%) !important;
  }

  .Buttons .purchase-btn {
    width: 100% !important;
  }
  .purchase-btn {
    flex-direction: column;
  }

  .purchase-btn button {
    width: 100% !important;
  }

  .shipping ul li:first-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .product-container .image-container,
  .cunt {
    width: 100%;
    height: 100%;
  }
  .go-back-btn p {
    display: none !important;
  }

  .product-container {
    padding: 0 !important;
  }

  .explore-related-container {
    margin-top: 100px !important;
  }

  .list-style,
  .brand-name,
  .description-box p {
    font-size: 15px !important ;
  }

  .banner-button {
    font-size: 15px !important;
  }

  /****************************************************************************************** */
  /************************************CART STYLING***************************************  */
  .order-summary {
    width: 100% !important;
    margin-top: 40px !important;
  }

  .cart-container .middle-liner {
    margin-bottom: 0 !important;
  }

  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table {
    margin-top: 0 !important;
  }

  table tbody td {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
  }

  table tbody td:first-child div {
    width: 100% !important;
  }

  table tbody td:first-child div .product-version {
    margin-bottom: 0;
    font-weight: 700;
    width: 80%;
  }

  table tbody td:first-child img {
    position: absolute;
    left: -100px;
    top: 0;
    width: 100px !important;
  }

  table tbody tr {
    padding: 0 0 35px 80px;
    width: 100%;
    margin: 40px 0 20px 0;
  }

  /* table tbody tr:first-child {
    margin-top: 30px;
  } */

  table tbody tr::before {
    content: "";
    position: absolute;
    background: #cfcfcf;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0;
  }

  table tbody tr:last-child::before {
    opacity: 0;
  }

  table tbody td::before {
    content: attr(data-title);
    font-weight: 400;
  }

  table tbody .remove-btn {
    position: absolute;
    right: 0;
    top: 0 !important;
  }

  table tbody td {
    border-color: #dfdfdf;
  }

  table tbody .subtotal-td {
    border-bottom: none;
  }
}

@media (max-width: 575px) {
  h1.not-found-page {
    padding: 0 20px;
  }

  a.not-found-page {
    font-size: 16px !important;
  }

  table tbody td::before {
    font-size: 15px;
  }
}

/* ***************************************************************************************
****************************************************************************************** */

/************************************CART STYLING***************************************  */

/* ***************************************************************************************
****************************************************************************************** */

.product-column {
  width: 50% !important;
}

.cart-popup {
  right: -100% !important;
  transition: right 0.4s ease-in-out;
  top: 10px;
  bottom: 10px;
  z-index: 3000;
  width: clamp(300px, 25vw, 370px);
}

.cart-popup.slide-in {
  right: 10px !important;
}

.darken-bg.show {
  opacity: 1 !important;
  visibility: visible !important;
}

table {
  border-radius: 10px;
  overflow: hidden;
}

table th,
table td {
  padding-bottom: 10px;
  padding-top: 20px;
}

table td {
  border-bottom: 1px solid #c2c2c2;
}

table thead tr {
  background-color: #f7f7f7;
}

.order-summary {
  width: clamp(300px, 50vw, 490px);
  margin-top: 80px;
  border: 1px solid #c2c2c2;
  background-color: #f7f7f7;
}

.order-summary .total-amt {
  color: #b8860b;
  font-size: 22px;
}

.bb {
  border-bottom: 1px solid #c2c2c2;
}

.shipment-info {
  gap: 13px;
}

form.shipping-form {
  transition:
    max-height 0.2s ease-in-out,
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
}

form.shipping-form.hide {
  max-height: 0 !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

form.shipping-form.dropdown {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
}

form.shipping-form select.form-select:focus, /*shipping select form (yourcart)*/
form.shipping-form input.form-control:focus,/*shipping input form (yourcart)*/
.slider .search-input:focus,/*mobile search form */
.search .search-input:focus,/*desktop search form */
.slider .close-btn:focus,/*mobile sidebar close btn */
.search .close-btn:focus, /*desktop search mode close btn */ 
.checkout-form input:focus, /*checkout input form */ 
.checkout-form select:focus /*checkout select form */ {
  border-color: #ced4da !important;
  outline: 0 !important;
  box-shadow: none !important;
}

form.shipping-form select.form-select {
  font-size: 14px !important;
  cursor: pointer;
  padding: 10px;
}

form.shipping-form input.form-control::placeholder,
.slider .search-input::placeholder {
  color: #72716e;
}

/* ***************************************************************************************
****************************************************************************************** */

/************************************CHECKOUT-PAGE STYLING***************************************  */

/* ***************************************************************************************
****************************************************************************************** */

.card-details-container .payment-icons img {
  width: 38px !important;
  height: 24px !important;
}

.checkout-form input {
  font-size: 15px;
  font-weight: 400;
}

.checkout-form input::placeholder {
  font-size: 14px;
  font-weight: 300;
}

.checkout-form input:-webkit-autofill,
.checkout-form select:-webkit-autofill {
  border: 1px solid rgb(222, 226, 230) !important;
  background-color: white !important;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 9999s ease-out;
}

.mode-of-payment .mod-box {
  border: 1px solid rgb(222, 226, 230);
  border-radius: 6px;
}

.mode-of-payment .mod-box.glow {
  border-color: var(--sauce-color);
}

.mode-of-payment div img {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.mode-of-payment input {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
}

.mode-of-payment input:checked,
.mode-of-payment input:checked:focus,
.mode-of-payment
  input:checked:focus-visible
  .mode-of-payment
  input:checked:active {
  background-color: var(
    --sauce-color
  ) !important; /* Use your special green color */
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.mode-of-payment .brief-desc {
  font-size: 13px;
  font-weight: 400;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;

  transition:
    max-height 0.3s ease-in-out,
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    margin 0.2s ease-in-out;
}

.mode-of-payment .brief-desc.show {
  opacity: 1;
  max-height: 100px;
  visibility: visible;
  margin-top: 15px;
  margin-bottom: 16px;
}

@media (max-width: 1199.98px) {
  .cart-container {
    width: 95% !important;
  }
}

@media (max-width: 950px) {
  .product-img {
    width: 20% !important;
  }

  .search-results-desktop {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    transform: none;
  }
}
